<div
  class="w-full h-[80vh] bg-[url('https://images.unsplash.com/photo-1558455546-6cc03e986b5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')] object-cover  flex justify-center items-center flex-col"
>
  <h1 class="text-4xl text-white m-0 p-0 font-bold">Lorem ipsum dolor sit amet consectetur</h1>
  <p class="text-base text-white mb-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, ad.
  </p>
  <app-search-bar></app-search-bar>
</div>
